/* Fonts */
@font-face {
  font-family: "MonoSpec";
  src: url("../../public/fonts/monospec.otf") format("opentype");
}

@font-face {
  font-family: "NeueHaasExtraLight";
  src: url("../../public/fonts/NHaasGroteskExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "NeueHaasLight";
  src: url("../../public/fonts/NHaasGroteskLight.ttf") format("truetype");
}

@font-face {
  font-family: "NeueHaasRegular";
  src: url("../../public/fonts//NHaasGroteskRegular.ttf") format("truetype");
}

@font-face {
  font-family: "NeueHaasMedium";
  src: url("../../public/fonts/NHaasGroteskMedium.ttf") format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "NeueHaasBold";
  src: url("../../public/fonts/NHaasGroteskBold.ttf") format("truetype");
  font-weight: bold;
}

body {
  font-family: "NeueHaasRegular", sans-serif !important;
}

.font-header {
  font-family: "NeueHaasBold" !important;
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 72px */
}

.font-header-2 {
  font-family: "NeueHaasMedium" !important;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 48px */
}

.font-light {
  font-family: "NeueHaasLight" !important;
}

.font-medium {
  font-family: "NeueHaasMedium" !important;
}
.font-bold {
  font-family: "NeueHaasBold" !important;
}

.font-body {
  font-family: "NeueHaasRegular" !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.32px;
}

.font-eyebrow-1 {
  font-family: "NeueHaasMedium" !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}

/* Main Page */
body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "NeueHaasRegular";
  background-color: #191919;
}

.App {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.App-bottom {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 2vh;
  padding-top: 0.5vh;
  box-sizing: border-box;
  position: fixed;
  z-index: 1001;
  width: 100%;
  bottom: 0;
  background-color: #191919;
  width: 100%;
}

.App-header > p {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 35px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1001;
  padding-top: 4px;
  background-color: #191919;
  width: 100%;
}

nav > .sign-in-button {
  padding: 10px 20px;
  background: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.sign-in-button {
  padding: 10px 20px;
  background: #555;
  border: 1px solid #555;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.sign-in-button:hover {
  background-color: #777;
  color: white;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: none;
}

input[type="text"] {
  font-size: 16px;
  padding: 15px 20px;
  width: 100%;
  border-radius: 20px;
  border: none;
  margin-bottom: 0;
}

button {
  padding: 15px 20px;
  font-size: 16px;
  background-color: #555;
  color: white;
  border: 1px solid #555;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #777;
}

/* Chat Page */
.chat-display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
  max-width: 1100px;
  margin: auto;
  overflow-y: auto;
  padding: 20px;
}

.user-message {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 5px 0;
  max-width: 70%;
  word-wrap: break-word;
}

.chat-display {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  padding: 20px 20px 20px 20px;
  overflow-y: auto;
  position: relative;
  z-index: 0;
  top: 0px;
  bottom: 0px;
}

.user-message {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 5px 20px;
  max-width: calc(100% - 300px);
  word-wrap: break-word;
  align-self: flex-end;
  text-align: left;
}

.bot-message {
  background-color: #444;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 5px 20px;
  max-width: calc(100% - 300px);
  word-wrap: break-word;
  align-self: flex-start;
  text-align: left;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}

.animate-pulse {
  animation: pulse 2.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
