body,
html {
  height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #191919;
}

.App {
  text-align: center;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px; /* Height of NavBar */
  padding-bottom: 60px; /* Height of SearchForm */
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  box-sizing: border-box;
}

.App-bottom {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100vh;
  padding: 8vh;
  box-sizing: border-box;
  position: fixed;
  z-index: 1000;
}

.App-header > h1 {
  font-size: 48px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
}

.App-header > p {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 50px;
}

/* Additional styles to remove hyperlink formatting on h1 */
a > h1 {
  color: white;
  text-decoration: none !important;
  cursor: default;
}

a:visited > h1 {
  color: white;
  text-decoration: none !important;
}

a:hover > h1,
a:focus > h1 {
  color: white;
  text-decoration: none !important;
}

nav {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  padding: 10;
  height: 60px;
  position: fixed;
  left: 2;
  right: 2;
  z-index: 1000;
}

nav > .sign-in-button {
  padding: 10px 20px;
  background: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 200%;
  max-width: none;
}

input[type="text"] {
  font-size: 16px;
  padding: 15px 20px;
  width: 100%;
  border-radius: 20px;
  border: none;
  margin-bottom: 0;
}

button {
  padding: 15px 20px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.chat-display {
  margin-top: 120px; /* 60 */
  margin-bottom: 120px; /* 60 */
  overflow-y: auto;
  flex-grow: 1;
}
