@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MonoSpec";
  src: url("/fonts/monospec.otf") format("opentype");
}

@font-face {
  font-family: "NeueHaasExtraLight";
  src: url("/fonts/NHaasGroteskExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "NeueHaasLight";
  src: url("/fonts/NHaasGroteskLight.ttf") format("truetype");
}

@font-face {
  font-family: "NeueHaasRegular";
  src: url("/fonts//NHaasGroteskRegular.ttf") format("truetype");
}

@font-face {
  font-family: "NeueHaasMedium";
  src: url("/fonts/NHaasGroteskMedium.ttf") format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "NeueHaasBold";
  src: url("/fonts/NHaasGroteskBold.ttf") format("truetype");
  font-weight: bold;
}

body {
  font-family: "NeueHaasRegular", sans-serif !important;
}

.font-header {
  font-family: "NeueHaasBold" !important;
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 72px */
}

.font-header-2 {
  font-family: "NeueHaasMedium" !important;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 48px */
}

.font-light {
  font-family: "NeueHaasLight" !important;
}

.font-medium {
  font-family: "NeueHaasMedium" !important;
}
.font-bold {
  font-family: "NeueHaasBold" !important;
}

.font-body {
  font-family: "NeueHaasRegular" !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.32px;
}

.font-eyebrow-1 {
  font-family: "NeueHaasMedium" !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}

.sides-fade {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 0) 0%
  );
}

.fadeIn-fast {
  animation: fadeIn 1s;
}

.fadeIn-normal {
  animation: fadeIn 2.5s;
}

.fadeIn-normal-2 {
  animation: fadeIn 4s;
}

.fadeIn-slow {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.05;
  }
  100% {
    opacity: 1;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9;
  }
}

/* Variables */
@-webkit-keyframes ferri-wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ferri-wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cabin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes cabin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* Layout */
.ferris-wrapper {
  position: relative;
  width: 58rem;
  height: 75rem;
  margin: 0 auto;
  /* Pause animation on Hover */
}
.ferris-wrapper:hover .wheel,
.ferris-wrapper:hover .cabin {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.ferri-base {
  position: absolute;
  width: 100%;
  height: 38rem;
  z-index: 1;
  bottom: 0;
  left: 0;
}
.ferri-base:before,
.ferri-base:after {
  content: "";
  border: 0.1rem solid #4d4d4d;
  background-color: #fff;
  width: 1rem;
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: -5%;
  transform-origin: 0% 0%;
}
.ferri-base:before {
  transform: rotate(15deg) translate3d(-50%, 0, 0);
}
.ferri-base:after {
  transform: rotate(-15deg) translate3d(-50%, 0, 0);
}

.ferris-middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);

  z-index: 0;
  width: 10rem;
  height: 10rem;
}

.wheel-wrapper {
  width: 50rem;
  height: 50rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 3;
}

.wheel {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #2b53e1;
  border-radius: 50%;
  -webkit-animation: ferri-wheel 15s linear infinite;
  animation: ferri-wheel 15s linear infinite;
}

/* Cabin */
.cabin {
  width: 14rem;
  height: 10rem;
  position: absolute;
  transform-origin: 50% 0%;
  text-align: center;
  -webkit-animation: cabin 15s linear infinite;
  animation: cabin 15s linear infinite;
}

.cabin:nth-of-type(1) {
  right: -8.5%;
  top: 50%;
}
.cabin:nth-of-type(2) {
  right: 17%;
  top: 93.5%;
}
.cabin:nth-of-type(3) {
  right: 67%;
  top: 93.5%;
}
.cabin:nth-of-type(4) {
  left: -8.5%;
  top: 50%;
}
.cabin:nth-of-type(5) {
  left: 17%;
  top: 7%;
}
.cabin:nth-of-type(6) {
  right: 17%;
  top: 7%;
}
